PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/auth_system
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# JWT Configuration
ACCESS_TOKEN_SECRET=your_jwt_access_token_secret_here
ACCESS_TOKEN_EXPIRES=15m

REFRESH_TOKEN_SECRET=your_jwt_refresh_token_secret_here
REFRESH_TOKEN_EXPIRES=7d
